@page "/MYZ/ZoneGeneration"
<PageTitle>Aymeeeric.fr - Mutant: Year Zero - Génération de secteurs</PageTitle>

<FluentStack Orientation="Orientation.Horizontal" Width="100%">

    <FluentBodyContent>
        
        <h1>
            Mutant: Year Zero - Génération de secteurs
        </h1>
        
        <FluentGrid Spacing="3" Justify="JustifyContent.Center">
            <FluentGridItem xs="12">
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis lorem lacus.
                    Ut id leo non enim feugiat ultrices. Proin vulputate volutpat urna nec iaculis.
                    Integer dui lacus, fermentum sit amet aliquet in, scelerisque vitae dui.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis lorem lacus.
                    Ut id leo non enim feugiat ultrices. Proin vulputate volutpat urna nec iaculis.
                    Integer dui lacus, fermentum sit amet aliquet in, scelerisque vitae dui.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis lorem lacus.
                    Ut id leo non enim feugiat ultrices. Proin vulputate volutpat urna nec iaculis.
                    Integer dui lacus, fermentum sit amet aliquet in, scelerisque vitae dui.
                </div>
            </FluentGridItem>
            <FluentGridItem xs="12" >
               <FluentStack Orientation="Orientation.Vertical">
                    <FluentNumberField Min="1" Max="10" Label="Nombre de secteurs" @bind-Value=numberOfSectorsToGenerate></FluentNumberField>
                    <FluentNumberField Min="0" Max="12" Label="Niveau de menace" @bind-Value=threatLevel></FluentNumberField>
                    <FluentRadioGroup Name="numbers" @bind-Value=randomMode Label="Génération des environnemets">
                        <FluentRadio Value=GenerationMode.Perlin>Cohérente</FluentRadio>
                        <FluentRadio Value=GenerationMode.Random>Aléatoire</FluentRadio>
                    </FluentRadioGroup>
                </FluentStack>
            </FluentGridItem>
        </FluentGrid>

            
        
    </FluentBodyContent>

</FluentStack>

@code {
    enum GenerationMode
    {
        Perlin,
        Random
    }
    int numberOfSectorsToGenerate = 5;
    int threatLevel = 4;
    GenerationMode randomMode = GenerationMode.Perlin;
}