@rendermode InteractiveServer

<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Collapsible="true" Width="250" Title="Navigation menu" @bind-Expanded="expanded">
            
            <!-- Accueil -->
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Accueil</FluentNavLink>
            <!-- Mutant: Year Zero -->
            <FluentNavGroup Expanded="true" Title="Mutant: Year Zero" >
                <!-- Génération de secteurs -->
                <FluentNavLink Href="/MYZ/ZoneGeneration" Match="NavLinkMatch.All" Icon="@(new Icons.Filled.Size20.CompassNorthwest())" IconColor="Color.Accent">Génération de secteurs</FluentNavLink>
            </FluentNavGroup>
            
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;
}

